{% extends 'base.html' %}
{% block content %}
<h1>SoulMate</h1>
<hr>
<pre>
cd C:\Users\xxxx0\PycharmProjects\SoulMateV2 && .venv\Scripts\activate && py soul_mate\manage.py runserver 888
</pre>
<hr>
<pre>
cd C:\Users\xxxx0\PycharmProjects\SoulMateV2 && .venv\Scripts\activate && py parser\main.py
</pre>
<hr>
<pre>
cd C:\Users\xxxx0\PycharmProjects\SoulMateV2 && .venv\Scripts\activate && py parser/step3/main.py
</pre>
<hr>
<pre>
& "C:\Program Files\MySQL\MySQL Server 8.4\bin\mysqldump.exe" -h localhost -P 3306 -u soul_mate -psoul_mate soul_mate | & "C:\Program Files\7-Zip\7z.exe" a -si ./dump.sql.7z
</pre>
<hr>
<pre>
{{ headers }}
</pre>
<hr>
{% endblock %}