{% extends 'base.html' %}
{% block content %}

<h1>SoulMate</h1>

<hr>

<pre>
C:\Users\xxxx0\PycharmProjects\SoulMateV2\.venv\Scripts\activate
py C:\Users\xxxx0\PycharmProjects\SoulMateV2\soul_mate\manage.py runserver 888
</pre>

<hr>

<pre>
C:\Users\xxxx0\PycharmProjects\SoulMateV2\.venv\Scripts\activate
cd C:\Users\xxxx0\PycharmProjects\SoulMateV2\parser\
py main.py
</pre>

<hr>

<pre>
C:\Users\xxxx0\PycharmProjects\SoulMateV2\.venv\Scripts\activate
cd C:\Users\xxxx0\PycharmProjects\SoulMateV2\parser\step2\
py main.py
</pre>

<hr>

<pre>
C:\Users\xxxx0\PycharmProjects\SoulMateV2\.venv\Scripts\activate
cd C:\Users\xxxx0\PycharmProjects\SoulMateV2\parser\step3\
py main.py
</pre>

<hr>

<pre>
{{ headers }}
</pre>

<hr>

{% endblock %}